version: '3.8'

services:
  mconbot:
    build: .
    container_name: mconbot
    restart: unless-stopped
    # Pass environment variables from the host (Portainer UI) to the container
    environment:
      - DISCORD_TOKEN
      - DISCORD_ALLOWED_USERS
      - DISCORD_ADMIN_ROLE_ID
      - MINECRAFT_IP
      - MINECRAFT_PASS
      - RCON_PORT
      - RCON_TIMEOUT
    
    # Network mode host is still recommended for local server connectivity
    network_mode: host
